{{#> 
	layouts/main 
	title="Wizard" 
	pagename="form_plugins_wizard" 
	category_1="Form Plugins"
	heading="<i class='subheader-icon fal fa-credit-card-front'></i> Wizard<sup class='badge badge-primary fw-500'>ADDON</sup>" 
	pagedescription="blank description"
}}

{{#*inline "head-block"}}
	<link rel="stylesheet" media="screen, print" href="css/formplugins/smartwizard/smartwizard.css">
	<style type="text/css">

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid red;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid red;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: red;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

	</style>
{{/inline}}

{{#*inline "content-block"}}

<div class="alert alert-primary">
	<div class="d-flex flex-start w-100">
		<div class="mr-2 hidden-md-down">
			<span class="icon-stack icon-stack-lg">
				<i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
				<i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
				<i class="ni ni-blog-read icon-stack-1x opacity-100 color-white"></i>
			</span>
		</div>
		<div class="d-flex flex-fill">
			<div class="flex-fill">
				<span class="h5">About</span>
				<p>Points.</p>
				<p class="m-0">
					Find in-depth, guidelines, tutorials and more on Addon's <a href="#" target="_blank">Official Documentation</a> 
				</p>
			</div>
		</div>
	</div>
</div>

{{!-- Your main content goes here --}}
<div class="row">
	<div class="col-xl-6">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">	
				<h2>
					Panel <span class="fw-300"><i>Title</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Panel tag <code>code</code>
					</div>



					
				</div>
			</div>
		</div>
	</div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}
	<script src="js/formplugins/smartwizard/smartwizard.js"></script>
	<script>
		$(document).ready(function () {

			// Smart Wizard
			$('#smartwizard').smartWizard({
				selected: 0,  // Initial selected step, 0 = first step 
				keyNavigation:true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
				autoAdjustHeight:false, // Automatically adjust content height
				cycleSteps: false, // Allows to cycle the navigation of steps
				backButtonSupport: true, // Enable the back button support
				useURLhash: false, // Enable selection of the step based on url hash
				showStepURLhash: false,
				lang: {  // Language variables
					next: 'Next', 
					previous: 'Previous'
				},
				toolbarSettings: {
					toolbarPosition: 'bottom', // none, top, bottom, both
					toolbarButtonPosition: 'right', // left, right
					showNextButton: true, // show/hide a Next button
					showPreviousButton: true, // show/hide a Previous button
					/*toolbarExtraButtons: [
				$('<button></button>').text('Finish')
							  .addClass('btn btn-info')
							  .on('click', function(){ 
							alert('Finsih button click');                            
							  }),
				$('<button></button>').text('Cancel')
							  .addClass('btn btn-danger')
							  .on('click', function(){ 
							alert('Cancel button click');                            
							  })
						  ]*/
				}, 
				anchorSettings: {
					anchorClickable: true, // Enable/Disable anchor navigation
					enableAllAnchors: false, // Activates all anchors clickable all times
					markDoneStep: true, // add done css
					enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
				},            
				contentURL: null, // content url, Enables Ajax content loading. can set as data data-content-url on anchor
				contentCache: true, //ajax content
				disabledSteps: [],    // Array Steps disabled
				errorSteps: [],    // Highlight step with errors
				theme: 'default', //dots, default, circles
				transitionEffect: 'slide', // Effect on navigation, none/slide/fade
				transitionSpeed: '400'
			});



			
		});
	</script>
{{/inline}}

{{/layouts/main}}